body {
    background-color: #a8a8a8;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

img {
    width: 100%;
}

h1 {
    font-size: 68px;
    text-align: center;
}

body>h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
}

select {
    border-radius: 5px;
    padding: 5px;
}

form {
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 200px;
    padding: 20px;
}

button {
    background: transparent;
    border: 1px solid #2a2a2a;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 44px;
    text-align: center;
}

.movieCard {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #353535;
    color: #fff;
    border-radius: 5px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gridView {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
}

.moviePage {
    max-width: 800px;
    margin: 0 auto;
}

.imageWrap {
    text-align: center;
}

.moviePage h2 {
    text-align: center;
}

.moviePage img {
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
}

@media(max-width:680px) {
    .gridView {
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }
}

@media(max-width:480px) {
    .gridView {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
}


/* helpers */

.flex {
    display: flex;
}

.flex.row {
    flex-direction: row;
}

.flex.column {
    flex-direction: column;
}

.flex.justify-center {
    justify-content: center;
}

.flex.justify-start {
    justify-content: flex-start;
}

.flex.justify-end {
    justify-content: flex-end;
}

.flex.align-center {
    align-items: center;
}

.flex.align-baseline {
    align-items: baseline;
}

.flex.align-start {
    align-items: flex-start;
}

.flex.align-end {
    align-items: flex-end;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-around {
    justify-content: space-around;
}

.flex.wrap {
    flex-wrap: wrap
}

.flex.grow-1 {
    flex-grow: 1;
}

.flex.grow-2 {
    flex-grow: 2;
}

.flex.grow-3 {
    flex-grow: 3;
}

.clean-list {
    list-style: none;
    padding: 0;
}

.text-center {
    text-align: center;
}